body{
    font-family: Arial, sans-serif;
    background-color: #fffeff;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --blue: #b651c6d9;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E1E1E1;
    padding: 10px 20px;
    color: white;
  }
  
  .logo img {
    height: 60px;
  }
  
  .header-button {
    background-color: #fff;
    color: #723968;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  .header-button:hover {
    background-color: #723968;
  }
  
  .container {
    position: relative;
    width: 100%;
  }
  
  /* =============== Vertical Navigation ================ */
  .navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #723968; /* Changed color based on your preference */
    border-left: 10px solid #723968; /* Changed color based on your preference */
    transition: 0.5s;
    overflow: hidden;
  }
  
  .navigation.active {
    width: 80px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .navigation ul li:hover,
  .navigation ul li.hovered {
    background-color: var(--white);
  }
  
  .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
  }
  
  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: var(--blue);
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
  }
  
  .navigation ul li a .icon ion-icon {
    font-size: 1.75rem;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
  
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
  }
  
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
  }
  
  /* ===================== Horizontal Navigation ===================== */
  .horizontal-navigation {
    display: flex;
    align-items: center;
    background: #F25278; /* Cambiado */
    height: 60px;
    flex-grow: 1;
    margin-left: 70px; /* Space for vertical navigation */
  }
  .horizontal-navigation ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  .horizontal-navigation ul li {
    margin: 0;
  }
  .horizontal-navigation ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    padding: 0 15px;
  }
  .horizontal-navigation ul li a .icon {
    margin-right: 10px;
  }
  .horizontal-navigation ul li a:hover {
    background-color: var(--white);
    color: var(--blue);
  }
  .horizontal-navigation ul li a .icon ion-icon {
    font-size: 1.5rem;
  }
  .horizontal-navigation ul li a .title {
    display: block;
  }
  
  /* ===================== Main ===================== */
  .main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }
  .main.active {
    width: calc(100% - 80px);
    left: 80px;
  }
  
  .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background: #F25278; /* Cambiado */
  }
  
  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .menu-toggle {
    background-color: var(--white);
    padding: 10px;
    border-radius: 55px; /* Ajusta según tu preferencia */
    cursor: pointer; /* Añadido para asegurar que el cursor cambie al pasar sobre el botón */
  }
  
  .menu-toggle ion-icon {
    color: #723968; /* Cambiado */
  }
  
  /===================Formulario========================/
  .form-container {
    background-color: #fff5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 15px rgba(0, 0, 0, 0.15); /* Efecto de sombra con bordes más definidos */
    max-width: 800px;
    margin: 40px auto;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .form-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el ratón */
  }
  
  .form-container h2 {
    background-color: #723968; /* Cambiado */
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: left;
  }
  
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-group label {
    flex-basis: 25%;
    padding-right: 10px;
    text-align: right;
  }
  
  .form-group input {
    flex-basis: 10%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="date"] {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .form-buttons button {
    background-color: #723968; /* Cambiado */
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-buttons .cancel-btn {
    background-color: #ede0e0;
  }
  
  .form-buttons button:hover {
    opacity: 0.8;
  }
  
  /* Cambiar el color de todos los botones type="button" */
  button[type="button"] {
      background-color: #cebcbc; /* Cambia esto al color que prefieras */
      color: #fff; /* Color del texto */
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
  }
  
  /* Excluir el botón dentro de .form-buttons */
  .form-buttons button[type="button"] {
      background-color: #723968; /* Cambiado */
      color: white;
      padding: 10px 20px;
      margin: 0 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  
  /* Cambiar el color de los botones type="button" al pasar el mouse */
  button[type="button"]:hover {
      background-color: #efe7e7; /* Cambia esto al color de hover que prefieras */
  }
  
  /* Hover específico para el botón dentro de .form-buttons */
  .form-buttons button[type="button"]:hover {
      background-color: #723968; /* Color hover específico para este botón */
  }
  .flex-container {
    display: flex;
  }
  
  .flex-item {
    margin-left: 10px; /* Ajusta el margen según sea necesario */
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #producto-container {
    text-align: center; /* Centra el contenido dentro del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
  }